{% extends "index.html" %}

{% block clock %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

{% endblock %}

{% block content %}

    <form action="/CreateResource" method="post">
        <div class="form-group">
            <label>Resource Name</label>
            <div>
                <input type="text" class="form-control" name="name" id="name"
                   placeholder="Resource Name ...">
            </div>



            <label>Tag</label>
            <div>
                <input type="text" class="form-control" name="tags"
                   placeholder="Tag ...">
            </div>


            <label for="dtp_input1">Date Picking</label>
                <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy"
                     data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">

                    <input class="form-control" id="date" name="date" type="date">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            <input type="hidden" id="dtp_input1"  /><br/>




            <label for="dtp_input2" >Start Time</label>
                <div class="input-group date form_time col-md-5" data-date="" data-date-format="hh:ii"
                     data-link-field="dtp_input3" data-link-format="hh:ii">

                    <input class="form-control" id="startTime" name="startTime" size="16" type="time"  >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>

                </div>
            <input type="hidden" id="dtp_input2"  /><br/>



            <label for="dtp_input3" >End Time</label>
                <div class="input-group date form_time col-md-5" data-date="" data-date-format="hh:ii"
                     data-link-field="dtp_input3" data-link-format="hh:ii">

                    <input class="form-control" id="endTime" name="endTime" size="16" type="time" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                </div>
            <input type="hidden" id="dtp_input3"  /><br/>

        </div>
            {#<label for="name">City</label>
            <input type="text" class="form-control" id="City" placeholder="City ...">





            <label for="name">Max Attendees</label>
            <input type="text" class="form-control" id="MaxAttendees" placeholder="Max Attendees ...">

            <label for="name">Description</label>
            <input type="text" class="form-control" id="Description" placeholder="Description ...">




#}
            <hr>
            <div>
                {% if resource %}
                <input type="hidden" name="resourceID" value="{{resource.key.urlsafe()}}">
                <input class="btn btn-info btn-block"  type="submit" value="Update Resource">
                {% else %}
                <input class="btn btn-info btn-block"  type="submit" value="Submit Resource">
                {% endif %}
            </div>



{#            <button type="button" class="btn btn-info btn-block" type="submit" value="提交">Submit</button>#}





{#        <button type="submit" class="btn btn-default">Submit</button>#}


    </form>



    <script
      src="http://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="static/js/clock/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="static/js/clock/locales/bootstrap-datetimepicker.es.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
	$('.form_date').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
	$('.form_time').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minView: 0,
		maxView: 1,
		forceParse: 0
    });
</script>
{% endblock %}

