<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"  charset="utf-8">
    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-responsive.css">
    <link type="text/css" rel="stylesheet" href="/static/css/main.css">

    <!-- [END css] -->
    <script
      src="http://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
{#            <div class="navbar-header">#}

            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">All Mighty Reserve</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/conference">My Reservations</a></li>
                    <li><a href="#/conference/create" >All Resources</a></li>
                    <li><a href="#/profile">My Resources</a></li>
                    <li><a href="/createResource.html">Create Resources</a></li>
                    <li class="nav-divider"></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li id="signInLink">
                        <a href="#">Login</a>
                    </li>
                    <li id="signOutLink">
                        <a href="#">Log out</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="container">
      <!-- [START greetings] -->
      {% for greeting in greetings %}
      <div class="row">
        {% if greeting.author %}
          <b>{{ greeting.author.email }}
            {% if user and user.user_id() == greeting.author.identity %}
              (You)
            {% endif %}
          </b> wrote:
        {% else %}
          An anonymous person wrote:
        {% endif %}
        <blockquote>{{ greeting.content }}</blockquote>
      </div>
      {% endfor %}
      <!-- [END Nav] -->

    <div class="container" >
        <h2 class="lead">表格</h2>
{#        <p class="lead">All Reservations I Made</p>#}
        {% block content %}
        <ul class="list-group">
            <a href="#" class="list-group-item active">All My Reservations</a>
            <a href="#" class="list-group-item">24*7 支持</a>
            <a href="#" class="list-group-item">免费 Window 空间托管</a>
            <a href="#" class="list-group-item">图像的数量</a>
            <a href="#" class="list-group-item">每年更新成本</a>


            {% for reservation in reservations %}
                {% if greeting.author %}
                  <a>{{ greeting.author.email }}
                    {% if user and user.user_id() == greeting.author.identity %}
                      href="#" class="list-group-item"
                    {% endif %}
                  </a>
                {% else %}
                  <a href="#" class="list-group-item">There is no reservation.</a>
                {% endif %}
                <blockquote>{{ greeting.content }}</blockquote>
            {% endfor %}
        {% endblock %}

        </ul>
    </div>
{#    <!-- [START SignIn] -->
      <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
        <div><textarea name="content" class="input-block-level" rows="3"></textarea></div>
        <div><input type="submit" class="btn btn-large btn-primary" value="Sign Guestbook"></div>
      </form>
    <!-- [END SignIn] -->
      <hr>#}



    </div>
  </body>

</html>
{% endautoescape %}