{% extends "base.html" %}


{% block Reservations %}active{% endblock %}

    {% block content %}

    <ul class="list-group">
        <a href="#" class="list-group-item active list-group-item-heading">All My Reservations</a>
        <a href="#" class="list-group-item list-group-item-info">list-group-item-info</a>
        <a href="#" class="list-group-item list-group-item-success">list-group-item-success</a>
        <a href="#" class="list-group-item list-group-item-text">list-group-item-text</a>
        <a href="#" class="list-group-item list-group-item-danger">list-group-item-danger</a>
        <a href="#" class="list-group-item list-group-item-warning">list-group-item-warning</a>


        {% for reservation in reservations %}
            {% if greeting.author %}
              <a>{{ greeting.author.email }}
                {% if user and user.user_id() == greeting.author.identity %}
                  href="#" class="list-group-item"
                {% endif %}
              </a>
            {% else %}
              <a href="#" class="list-group-item">There is no reservation.</a>
            {% endif %}
            <blockquote>{{ greeting.content }}</blockquote>
        {% endfor %}
     </ul>

    {% endblock %}
