{% extends "base.html" %}
{% block MyResource %}active{% endblock %}

{% block content %}


    {% for resource in resources %}
    {% if user and user == resource.author %}
{#    <ul>#}
        <div class="form-group">
        <li class="list-group-item list-unstyled
                {% if resource.date <  today  %} list-group-item-danger {% else %} active{% endif %}">
            {{resource.name}}
            <span class="badge" href="#">{{ resource.numReservations }}/{{ resource.maxReservations }}</span>
        {% if resource.date <  today  %}<span class="label label-warning pull-right">expired</span>{% endif %}
        </li>


        <li class="list-group-item list-group-item-info">
            By: {{resource.author}},
              Created: {{resource.pubDate.strftime("%Y-%m-%d %H:%M")}},
              Last Modified: {{resource.modDate.strftime("%Y-%m-%d %H:%M")}}
        </li>

        <li class="list-group-item list-group-item-info">
            Date: {{resource.date.strftime("%Y-%m-%d %H:%M")}},
              Start Time: {{resource.startTime.strftime("%Y-%m-%d %H:%M")}},
              End Time: {{resource.endTime}}
        </li>

        <li class="list-group-item list-group-item-info">
            Description: {{resource.description}}
        </li>


        <li class="list-group-item list-group-item-info">
            <div class="btn-group">
            {% for tag in resource.tags %}
                    <a type="button" href="#"><span class="label label-warning">{{ tag }}</span></a>
            {% endfor %}
            </div>
        </li>


        <li class="list-group-item list-group-item-info">
            <div class="btn-group" >
                {% if resource.date >= today %}
                <a  class="btn btn-success" type="submit"
                href="/Reserve?resourceID={{ resource.key.urlsafe() }}"
                >Reserve</a>
                {% endif %}
            </div>


            <div class="btn-group" >
                {% if user and user == resource.author %}
                    <a  class="btn btn-primary" type="submit"
                    href="/CreateResource?resourceID={{ resource.key.urlsafe() }}"
                    >
                    Edit
                      </a>
                {% endif %}
            </div>


            <div class="btn-group" >
                {% if user and user == resource.author %}
                    <a  class="btn btn-danger" type="submit"
                    href="/DeleteResource?resourceID={{ resource.key.urlsafe() }}"
                    >
                    Delete
                      </a>
                {% endif %}
            </div>
        </li>
        </div>
{#    </ul>#}
 {% endif %}
        <br>
{% endfor %}




{% endblock %}