{% extends "base.html" %}
{% block MyResource %}active{% endblock %}

{% block content %}


    {% for resource in resources %}
{#    <ul>#}
        <div class="form-group">

        <a class="list-group-item
            {% if resource.startDateTime <  now  %} list-group-item-danger {% else %} active{% endif %}"
            href="/ResourceContent?resourceID={{resource.key.urlsafe()}}"
        >
            {{resource.name}}
            <span class="badge" href="#">{{ resource.numReservations }}/{{ resource.maxReservations }}</span>
        {% if resource.startDateTime <  now  %}<span class="label label-warning pull-right">expired</span>{% endif %}
        </a>


        <li class="list-group-item list-group-item-info">
            By: {{resource.author}},
            Created: {{resource.pubDate.strftime("%Y-%m-%d %H:%M:%S")}},
            Last Modified: {{resource.modDate.strftime("%Y-%m-%d %H:%M:%S")}},
            <a href="/ResourceRSS?resourceID={{resource.key.urlsafe()}}">RSS</a>
        </li>
        </li>

        <li class="list-group-item list-group-item-info">
            Last Reservation: {% if resource.lastReserveDate %}{{resource.lastReserveDate.strftime("%Y-%m-%d %H:%M:%S")}},
                                {% else %}No Reservation Yet{% endif %}
        </li>

        <li class="list-group-item list-group-item-info">
            Start Time: {{resource.startDateTime.strftime("%Y-%m-%d %H:%M:%S")}},
            End Time: {{resource.endDateTime.strftime("%Y-%m-%d %H:%M:%S")}},
            Duration: {{resource.duration}}
        </li>

        <li class="list-group-item list-group-item-info">
            Description: {{resource.description}}
        </li>


        <li class="list-group-item list-group-item-info">
            <div class="btn-group">Tags:
            {% for tag in resource.tags %}
                <a type="button" href="/ResourcesWithTag?tag={{tag}}"><span class="label label-warning">{{ tag }}</span></a>
            {% endfor %}
            </div>
        </li>


        <li class="list-group-item list-group-item-info">
            <div class="btn-group" >
                {% if resource.startDateTime >= now %}
                <a  class="btn btn-success" type="submit"
                href="/Reserve?resourceID={{ resource.key.urlsafe() }}"
                >Reserve</a>
                {% endif %}
            </div>


            <div class="btn-group" >
                {% if user and user == resource.author %}
                    <a  class="btn btn-primary" type="submit"
                    href="/EditResource?resourceID={{resource.key.urlsafe()}}"
                    >
                    Edit
                      </a>
                {% endif %}
            </div>


            <div class="btn-group" >
                {% if user and user == resource.author %}
                    <a  class="btn btn-danger" type="submit"
                    href="/AllResources?delResourceID={{ resource.key.urlsafe() }}"
                    >
                    Delete
                      </a>
                {% endif %}
            </div>
        </li>
        </div>
{#    </ul>#}
        <br>
{% endfor %}




{% endblock %}