<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"  charset="utf-8">
{#        {% block clock %} {% endblock %}#}
        <link type="text/css" rel="stylesheet" href="static/css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="static/css/main.css">
        <link type="text/css" rel="stylesheet" href="static/css/bootstrap-datetimepicker.min.css" media="screen">
    </head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target=".navbar-collapse">
                </button>
                <a class="navbar-brand" href="/">All Mighty Reserve</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% block ResourceContent %}{% endblock %}">
                        <a href="/ResourceContent{% if resource %}?resourceID={{resource.key.urlsafe()}}{% endif %}">
                            Resource Content
                        </a>
                    </li>

                    <li  class="{% block Reserve %}{% endblock %}">
                        <a href="/Reserve{% if resource %}?resourceID={{resource.key.urlsafe()}}{% endif %}">
                            Reserve
                        </a>
                    </li>

                     <li class="{% block Reservations %}{% endblock %}">
                         <a href="/Reservations{% if resource %}?resourceID={{resource.key.urlsafe()}}{% endif %}">
                         </a>
                     </li>

                    <li  class="{% block EditResource %}{% endblock %}" >
                        <a href="/EditResource{% if resource %}?resourceID={{resource.key.urlsafe()}}{% endif %}" >
                            Edit Resource
                        </a>
                    </li>

                    <li><a href="/">Home</a></li>
                </ul>

            <ul class="nav navbar-nav">
                <form action="/SearchResource" method="get"role="form">
                    <li class="nav navbar-nav">
                       <input type="text" class="form-control" id="focusedInput" name="searchResource" placeholder="Resouce Name" value="">
                    </li>

                    <li class="nav navbar-nav">
                        <button type="submit" class="btn btn-link">Search</button>
                    </li>
                 </form>

            </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li><a id="signInOut" class="btn pull-right" href="{{ url }}">{{ url_linktext }}</a></li>
                </ul>
            </div>
        </div>
    </div>



    <div class="container" >
        <br><br><br><br>
        {% block content %}

        {% endblock %}
    </div>


</body>

{############################################################}

<script type="text/javascript" src="static/js/jquery-1.8.3.min.js"> </script>
<script type="text/javascript" src="static/js/bootstrap.js"></script>
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}

<script type="text/javascript" src="static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>

<script type="text/javascript" src="static/js/clock.js" charset="UTF-8"></script>

<script type="text/javascript" src="static/js/checkInput.js" charset="UTF-8"></script>

</html>

{% endautoescape %}



