{% extends "resource_base.html" %}

{% block Reservations %}active{% endblock %}



{% block content %}
    <script type="text/javascript">
        function checkDate(){
            var today = new Date();
            return today;
        }
    </script>


{% if reservations  %}
{% for reservation in reservations %}

{#    <div class="form-group">#}
{#    <a class="list-group-item active list-group-item-heading" herl="#">#}
{#        Resource Name: {{reservation.key.parent().get().name}}#}
{#        <span class="badge" href="#">{{ reservation.key.parent().get().numReservations }}/{{ reservation.key.parent().get().maxReservations }}</span>#}
{#        {% if reservation.date <  now  %}<span class="label label-warning pull-right">expired</span>{% endif %}#}
{#    </a>#}
{#    </div>#}

    <div class="form-group">
    <li class="list-group-item list-group-item-success ">Reservation Name: {{reservation.name}}
{#        {% if reservation.date < now  %} list-group-item-danger {% else %} active{% endif %}">#}
{#        {% if reservation.date < now  %} list-group-item-danger {% else %} active{% endif %}">#}
        <a class="badge badge-warning pull-right" herl="#">Resource Name: {{reservation.key.parent().get().name}}</a>
{#        {% if reservation.date <  now  %}<span class="label label-warning pull-right" herl="#">Resource Name: {{reservation.key.parent().get().name}}</span>{% endif %}#}
    </li>



    <li class="list-group-item list-group-item-info">
        By: {{reservation.author}},
          Created: {{reservation.pubDate.strftime("%Y-%m-%d %H:%M:%S")}},
          Last Modified: {{reservation.modDate.strftime("%Y-%m-%d %H:%M:%S")}}
    </li>

    <li class="list-group-item list-group-item-info">
          Start Time: {{reservation.startTime.strftime("%Y-%m-%d %H:%M:%S")}},
          End Time: {{reservation.endTime}}
    </li>

    <li class="list-group-item list-group-item-info">
        Description: {{reservation.key.parent().get().description}}
    </li>

    <li class="list-group-item list-group-item-info">
        <div class="btn-group">
        {% for tag in reservation.key.parent().get().tags %}
                <a type="button" href="#"><span class="label label-warning">{{ tag }}</span></a>
        {% endfor %}
        </div>
    </li>

    <li class="list-group-item list-group-item-info">

        <div class="btn-group" >
            {% if user and user == reservation.author %}
                <a  class="btn btn-danger" type="submit"
                href="/DeleteReservation?reservationID={{ reservation.key.urlsafe() }}"
                >
                Delete
                  </a>
            {% endif %}
        </div>
    </li>
    </div>
<br>

{% endfor %}
{% endif %}


{% endblock %}