<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"  charset="utf-8">
        <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
        <link type="text/css" rel="stylesheet" href="./static/css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="./static/css/main.css">
    </head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target=".navbar-collapse">
                </button>
                <a class="navbar-brand" href="/">All Mighty Reserve</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% block ResourceContent %}{% endblock %}">
                        <a href="/ResourceContent{% if resource %}?resourceID={{resource.key.urlsafe()}}{% endif %}">
                            Resource Content
                        </a>
                    </li>

                    <li  class="{% block Reserve %}{% endblock %}">
                        <a href="/Reserve{% if resource %}?resourceID={{resource.key.urlsafe()}}{% endif %}">
                            Reserve
                        </a>
                    </li>

                     <li class="{% block Reservations %}{% endblock %}">
                         <a href="/Reservations{% if resource %}?resourceID={{resource.key.urlsafe()}}{% endif %}">
                         </a>
                     </li>

                    <li  class="{% block EditResource %}{% endblock %}" >
                        <a href="/EditResource{% if resource %}?resourceID={{resource.key.urlsafe()}}{% endif %}" >
                            Edit Resource
                        </a>
                    </li>

                    <li><a href="/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="signInOut" class="btn pull-right" href="{{ url }}">{{ url_linktext }}</a></li>
                </ul>
            </div>
        </div>
    </div>



    <div class="container" >
        <br><br><br><br>
        {% block content %}

        {% endblock %}
    </div>


</body>

{############################################################}

 <script
src="http://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="static/js/clock/bootstrap-datetimepicker.js" charset="UTF-8"></script>

<script type="text/javascript" src="static/js/clock/clock.js" charset="UTF-8"></script>


</html>

{% endautoescape %}



