{% extends "resource_base.html" %}

{% block ResourceContent %}active{% endblock %}



{% block content %}

    <div class="form-group">

        <li class="list-group-item
                {% if resource.startDateTime <=  now  %} list-group-item-danger {% else %} active{% endif %}">
            {{resource.name}}
            <span class="badge" >{{ resource.numReservations }}/{{ resource.maxReservations }}</span>
        {% if resource.startDateTime <=  now  %}<span class="label label-warning pull-right">expired</span>{% endif %}
        </li>


        <li class="list-group-item list-group-item-info">
            By: {{resource.author}},
            Created: {{resource.pubDate.strftime("%Y-%m-%d %H:%M:%S")}},
            Last Modified: {{resource.modDate.strftime("%Y-%m-%d %H:%M:%S")}},
            Duration: {{resource.duration}}, <a href="/ResourceRSS?resourceID={{resource.key.urlsafe()}}">RSS</a>
        </li>

        <li class="list-group-item list-group-item-info">
            Last Reservation: {% if resource.lastReserveDate %}{{resource.lastReserveDate.strftime("%Y-%m-%d %H:%M:%S")}},
                                {% else %}No Reservation Yet{% endif %}
        </li>

        <li class="list-group-item list-group-item-info">
            Start Time: {{resource.startDateTime.strftime("%Y-%m-%d %H:%M:%S")}},
            End Time: {{resource.endDateTime.strftime("%Y-%m-%d %H:%M:%S")}}
        </li>

        <li class="list-group-item list-group-item-info">
            Description: {{resource.description}}
        </li>



{#        <div c>#}
{#            <img src="{{ resource.image }}" class="img-responsive">#}
{#        </div>#}



        <li class="list-group-item list-group-item-info">
            <div class="btn-group">Tags:
            {% for tag in resource.tags %}
                <a type="button" href="/ResourcesWithTag?tag={{tag.strip()}}">
                    <span class="label label-warning">{{tag.strip()}}</span>
                </a>
            {% endfor %}
            </div>
        </li>


        <li class="list-group-item list-group-item-info">
            <div class="btn-group" >
                {% if resource.startDateTime >= now %}
                <a  class="btn btn-success" type="submit"
                href="/Reserve?resourceID={{ resource.key.urlsafe() }}"
                >Reserve</a>
                {% endif %}
            </div>


            <div class="btn-group" >
                {% if user and user == resource.author %}
                    <a  class="btn btn-primary" type="submit"
                    href="/EditResource?resourceID={{resource.key.urlsafe()}}"
                    >
                    Edit
                      </a>
                {% endif %}
            </div>


            <div class="btn-group" >
                {% if user and user == resource.author %}
                    <a  class="btn btn-danger" type="submit"
                    href="/AllResources?delResourceID={{ resource.key.urlsafe() }}"
                    >
                    Delete
                      </a>
                {% endif %}
            </div>

        </li>
    </div>

    <div>
        {% if resource.image %}
            <img src="/img?img_id={{ resource.key.urlsafe() }}"></img>
        {% endif %}
    </div>

{#    ############################################################}

    <div class="form-group">

        {% if reservations  %}
            {% for reservation in reservations %}
                {% if reservation  %}

                    <div class="form-group">
                        <li class="list-group-item list-group-item-success ">Reservation Name: {{reservation.name}}
                            <a class="badge badge-warning pull-right"
                               href="/ResourceContent?resourceID={{reservation.key.parent().get().key.urlsafe()}}">
                                {{reservation.key.parent().get().name}}
                            </a>
                        </li>



                    <li class="list-group-item list-group-item-info">
                        By: {{reservation.author}},
                        Created: {{reservation.pubDate.strftime("%Y-%m-%d %H:%M:%S")}},
                        Last Modified: {{reservation.modDate.strftime("%Y-%m-%d %H:%M:%S")}}
                    </li>

                    <li class="list-group-item list-group-item-info">
                        Start Time: {{reservation.startDateTime}},
                        End Time: {{reservation.endDateTime}}
                        Duration: {{reservation.duration}}
                    </li>

                    <li class="list-group-item list-group-item-info">
                        Description: {{reservation.key.parent().get().description}}
                    </li>

                    <li class="list-group-item list-group-item-info">
                        <div class="btn-group">Tags:
                        {% for tag in resource.tags %}
                            <a type="button" href="/ResourcesWithTag?tag={{tag.strip()}}"><span class="label label-warning">{{tag.strip()}}</span></a>
                        {% endfor %}
                        </div>
                    </li>


                    {% if user and user == reservation.author %}
                        <li class="list-group-item list-group-item-info">
                            <div class="btn-group" >
                                    <a  class="btn btn-danger" type="submit"
                                    href="/ResourceContent?deleteReservationID={{reservation.key.urlsafe()}}"
                                    >
                                    Delete
                                    </a>
                            </div>
                        </li>
                    {% endif %}

                    </div>
                <br>
                {% endif %}
            {% endfor %}


        {% endif %}
    </div>



{% endblock %}