{% extends "resource_base.html" %}

{% block ResourceContent %}active{% endblock %}



{% block content %}

        <div class="form-group">

        <a class="list-group-item list-unstyled
                {% if resource.startDateTime <  now  %} list-group-item-danger {% else %} active{% endif %}">
            {{resource.name}}
            <span class="badge" href="#">{{ resource.numReservations }}/{{ resource.maxReservations }}</span>
        {% if resource.startDateTime <  now  %}<span class="label label-warning pull-right">expired</span>{% endif %}
        </a>


        <li class="list-group-item list-group-item-info">
            By: {{resource.author}},
              Created: {{resource.pubDate.strftime("%Y-%m-%d %H:%M:%S")}},
              Last Modified: {{resource.modDate.strftime("%Y-%m-%d %H:%M:%S")}}
        </li>

        <li class="list-group-item list-group-item-info">
              Start Time: {{resource.startDateTime.strftime("%Y-%m-%d %H:%M:%S")}},
              End Time: {{resource.endDateTime.strftime("%Y-%m-%d %H:%M:%S")}}
        </li>

        <li class="list-group-item list-group-item-info">
            Description: {{resource.description}}
        </li>


        <li class="list-group-item list-group-item-info">
            <div class="btn-group">Tags:
            {% for tag in resource.tags %}
                <a type="button" href="/ResourcesWithTag?tag={{tag}}"><span class="label label-warning">{{ tag }}</span></a>
            {% endfor %}
            </div>
        </li>


        <li class="list-group-item list-group-item-info">
            <div class="btn-group" >
                {% if resource.startDateTime >= now %}
                <a  class="btn btn-success" type="submit"
                href="/Reserve?resourceID={{ resource.key.urlsafe() }}"
                >Reserve</a>
                {% endif %}
            </div>


            <div class="btn-group" >
                {% if user and user == resource.author %}
                    <a  class="btn btn-primary" type="submit"
                    href="/EditResource?resourceID={{ resource.key.urlsafe() }}"
                    >
                    Edit
                      </a>
                {% endif %}
            </div>


            <div class="btn-group" >
                {% if user and user == resource.author %}
                    <a  class="btn btn-danger" type="submit"
                    href="/AllResources?delResourceID={{ resource.key.urlsafe() }}"
                    >
                    Delete
                      </a>
                {% endif %}
            </div>
        </li>
        </div>

{% endblock %}