{% extends "resource_base.html" %}

{% block EditResource %}active{% endblock %}
{#{% block EditResourceA %}?resouceID={{ resource.key.urlsafe() }}{% endblock %}#}
{% block content %}

    <form action="/EditResource" method="post">

        <div class="form-group">
            <li class="list-group-item active">Resource Name<span class="label label-danger pull-right">required</span></li>
            <div>
                <input type="text" class="form-control" name="name" id="name"  value="{{resource.name}}"
{#                   {% if resource %} value="{{resource.name}}" {% else %} placeholder="Resource Name ..."{% endif %}#}
                /required>
            </div>
        </div>


        <div class="form-group">
             <li for="dtp_input1" class="control-label list-group-item list-group-item-info">
                 Start DateTime Picking<span class="label label-danger pull-right">required</span></li>

            <div class="input-group date form_datetime" data-date="1979-09-16T05:25:07Z"
                 data-date-format="yyyy-mm-dd - hh:ii" data-link-field="dtp_input1">
                <input class="form-control" type="text" name="startTime"
                       value="{{ resource.startDateTime }}"
{#                onchange="checkDate()"#}
                name="startDateTime"
                >
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <input type="hidden" id="dtp_input1"  />
        </div>


        <div class="form-group">
             <li for="dtp_input1" class=" control-label list-group-item list-group-item-info">
                 End DateTime Picking<span class="label label-danger pull-right">required</span></li>

            <div class="input-group date form_datetime" data-date="1979-09-16T05:25:07Z"
                 data-date-format="yyyy-mm-dd - hh:ii" data-link-field="dtp_input2">
                <input class="form-control"  type="text" name="endTime"
                {#                onchange="checkDate()"#}
                        value="{{ resource.endDateTime }}"
                name="endDateTime"
                >
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <input type="hidden" id="dtp_input2"  />
        </div>


        <div class="form-group">
            <li class="list-group-item list-group-item-info">Max Reservations
                <span class="label label-danger pull-right">required</span>
            </li>
            <div>
                <input type="text" type="number" class="form-control" name="maxReservations" id="maxReservations"
                       value="{{ resource.maxReservations }}"
                    /required>
            </div>
        </div>



        <div class="form-group">
            <li class="list-group-item list-group-item-info">Tags</li>
            <div>
                <input type="text" class="form-control" name="tags" id="tags"
                       value="{% for tag in resource.tags %}{{ tag  }}, {% endfor %}"
                   >
            </div>
        </div>





        <div class="form-group">
            <li class="list-group-item list-group-item-info">Description</li>
            <div>
                <input  class="form-control"  rows="5" name="description" id="description"
                    {% if resource %} value="{{resource.description.strip()}}"
                    {% endif %}
                    placeholder="Description...."
                >
                </input>
            </div>
        </div>


        <br><br>
        <div class="form-group">
            <div>
                <input class="btn btn-info btn-block" name="resourceID" type="submit" value="Update Resource">
            </div>
        </div>
    </form>


{% endblock %}